.not-found{
    height: 100vh;
    background: linear-gradient(#1D457B, #1D457B, black);
    position: relative;
    padding-top: 0px;
}

.not-found-child{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 80px auto 0;
}

.not-found-number{
    font-size: 150px;
    letter-spacing: 5px;
}

@media only screen and (max-width: 400px){

}